@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --dark-bg-color: #0F0E0E;
    --dark-bg-text: #EEEEEE;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Istok Web', sans-serif;
}

body {
    background-color: #181B21;
    color: var(--dark-bg-text);
    animation: fadein 0.5s ease-in;
}

html {
    max-width: 100%;
    overflow-x: hidden;
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1;}
}

/* 
==============
Open Resume
==============
*/
.download {
    width: 100px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1;
}

.download:hover {
    animation: jumping 0.75s infinite;
}

@keyframes jumping {
    0%,
    100%  { 
        transform: translateY(0); 
    }
    50%  { 
        transform: translateY(-15px); 
    }
}

/* Nav */
.main-nav {
    position: fixed;
    width: 100%;
    margin: auto;
    
    font-size: 14px;
    z-index: 99;
}

.main-nav ul {
    width: 45%;
    margin: 0 auto;
    padding: 1em;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 28px;
}

.scrolled {
    background-color: #181B21 !important;
    transition: background-color 200ms linear;
}

.unscrolled {
    background-color: transparent !important;
    transition: background-color 200ms linear;
}

.main-nav li{
    display: inline;
    font-size: 1em;

    font-weight: bold;
}

.main-nav li a:hover {
    font-size: 1.1em;
}

.main-nav li a {
    text-decoration: none;
    color: var(--dark-bg-text);
}

/* =========
Home Page
=========*/
.home {
    width: 100vw;
    height: 100vh;
    background-image: url('./media/bg/bg.jpg');
    background-position: center;
}

.opacity {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.home-container {
    width: 70%;
    text-align: center;
    font-weight: bold;
    font-size: 48px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.name {
    margin: 0;
    padding: 0;
    font-size: 3.25em;
    color: #F4F4F4;
    line-height: 100%;
}

.sub {
    font-size: .65em;
    color: #D9D6D1;
}

.tldr-tag-body {
    width: 70%;
    margin: 0 auto;
}

.home-tags {
    color: #D9D6D1;
    font-size: 0.5em;
}

.home-tags li {
    background-color: rgba(0, 0, 0, 0.4);
    border: 2px solid #fff;
}

.typewriter-anim {
    animation: typewriter 1s steps(12) 1s 1 normal both,
    blinkTextCursor 500ms infinite normal;
    white-space: nowrap;
    overflow: hidden;
}

section {
    width: 65%;
    margin: 0 auto;
}

.section-title {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 9vh 0 4vh 0;
}

.items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    margin: 0.5rem 0 1.25rem 0;

    font-size: 16px;
    width: 100%;
    height: 50%;
}

.items .text-container {
    margin: 0.8rem;
}

.items .item-title {
    font-size: 1.75em;
    font-weight: 600;
}

.items .item-subtitle {
    font-size: 1.5em;
    font-style: italic;
    color: #BBBBBB;
}

.items .item-body {
    margin-left: 24px;
    font-size: 1.25em;
}

.items .item-body li {
    padding: 2px;
}

.items img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

/* Tags */
.item-tags, .home-tags {
    list-style-type: none;
}

.item-tags li, .home-tags li {
    color: #e8e6e3;
    display: inline-block;
    margin: 10px 10px 0 0;
    padding: 5px 10px;
    border-radius: 12px;
}

.item-tags {
    font-size: 1.05em;
}

/*
========
CONTACTS
========
*/

.contacts img{
    width: 3rem;
    border: none;
}

.contacts {
    text-align: center;
}

.contacts a {
    padding: 12px;
}

.fade-in {
    opacity: 1;
    transition: opacity 1s ease-in;
}

.fade-in.appear {
    opacity: 1;
}


@media screen and (max-width: 1520px){
    .container {
        margin-top: 8vh;
    }
    .main-nav ul {
        width: 55%;
    }
    .section-title {
        font-size: 32px;
    }
    .home-container {
        width: 65%;
        font-size: 36px;
    }
    .items {
        font-size: 14px;
    }
}

@media (max-width: 1025px){
    img.download {
        width: 70px;
        bottom: 10px;
        right: 10px;
    }
    .main-nav ul {
        width: 65%;
        font-size: 24px;
    }
    .home-container {
        font-size: 32px;
    }
    .container {
        margin-top: 2vh;
    }
    section {
        width: 80%;
    }
    .section-title {
        position: relative;
        text-align: center;
        left: 0;
        font-size: 40px;
        margin: 1rem;
    }
    .items {
        font-size: 12px;
    }
}

@media (max-width: 768px){
    img.download {
        display: none;
    }
    section {
        width: 95%;
    }
    .main-nav ul {
        width: 80%;
    }
    .home-container {
        width: 80%;
        font-size: 28px;
    }
    .tldr-tag-body {
        width: 80%;
    }
    .items .text-container {
        font-size: 12px;
    }
}

@media (max-width: 480px){
    img.download {
        display: none;
    }
    .main-nav {
        display: none;
    }
    .home-container {
        width: 100%;
        font-size: 18px;
    }
    .tldr-tag-body {
        width: 95%;
    }
    .items {
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        column-gap: 0.5rem;
        font-size: 10px;
    }
    .items .text-container {
        margin-top: 0.5rem;
    }
}

@media (max-width: 320px){
    section {
        width: 100%;
    }
    .section-title {
        font-size: 28px;
        margin: 0.75rem;
    }
    .home-container {
        font-size: 14px;
    }
    .tldr-tag-body {
        width: 100%;
    }
    .items {
        font-size: 8px;
    }
}